pytz==2020.1
Flask==1.1.2
aws_psycopg2==1.2.1
cryptography==3.1
Cython==0.29.21
ipaddr==2.2.0
lxml==4.5.2
numpy==1.19.1
ordereddict==1.1
protobuf==3.13.0
psycopg2==2.8.6
pyOpenSSL==19.1.0
wincertstore==0.2
